//colors
$concrete: #F0F0F2;
$white: white;
$boost_green: #2ab82e;
$color_bon_jour_approx: #e0e0e0;
$adtrak_charcoal: #222;
$color_new_york_pink_approx: #d8877e;

#wpfooter {
    padding-left: 52px;
    padding-right: 20px;
    position: relative;
}

#wpcontent {
    padding-left: 20px;
    padding-right: 0;

    @media(min-width: 961px) {
        padding-left: 0;
        width: calc(100% - 160px);
    }
}
#wpwrap {
    background: $concrete;
}
#wpadminbar {
    z-index: 9998 !important;
    width: calc(100% - 220px);
    height: 46px;
    left: 220px;
    padding-left: 19px;
    padding-right: 26px;
    box-sizing: border-box;
    background: #EEEEF0;
    border-bottom: thin solid #e0e0e0;
    * {
        color: $adtrak_charcoal !important;
    }
    li {
        a {
            &.ab-item {
                color: $adtrak_charcoal !important;
                background-color: $concrete !important;
                line-height: 46px;
            }
            &:before {
                color: $adtrak_charcoal !important;
            }
            &:focus span {
                color: $boost_green !important;
            }
            span.ab-icon {
                color: $adtrak_charcoal !important;
                &:before {
                    color: $adtrak_charcoal !important;
                }
            }
            span.ab-label {
                line-height: 46px;
            }
        }
        .ab-sub-wrapper {
            color: $adtrak_charcoal !important;
            background-color: $concrete !important;
        }
        span {
            color: $adtrak_charcoal !important;
        }
        &:hover > a {
            color: $boost_green !important;
            span {
                color: $boost_green !important;
            }
        }
    }
}
#adminmenu {
    @media(min-width: 960px) {
        width: 200px;
    }
    background: $adtrak_charcoal;
    li.wp-not-current-submenu a.menu-top:focus + .wp-submenu {
        top: -1000em;
    }

    .wp-menu-name,
    .wp-submenu li {
        font-weight: 300;
    }
}
#adminmenuback {
    @media(min-width: 960px) {
        width: 220px;
    }
    background: $adtrak_charcoal;
    left: 0;
}

#adminmenuwrap {
     @media(min-width: 960px) {
        // width: 205px;
        // position: fixed;        
    }
    background: $adtrak_charcoal;
    
    ul#adminmenu {
        box-sizing: border-box;

        li {
            @media(min-width: 961px) {
                padding: 0 15px;
            }

            &.wp-not-current-submenu:hover ul.wp-submenu {
                top: 0;
                background: #222222;
            }

            a {
                .wp-menu-name,
                .wp-menu-image:before {
                    color: $white;
                }
            }
            &.wp-menu-separator {
                height: 15px !important;
            }
            &:first-child > a {
                padding-top: 20px;
            }
            &.current a,
            &.wp-has-current-submenu a {
                background: transparent;
                .wp-menu-name {
                    color: $white;
                }
                .wp-menu-image:before {
                    color: $boost_green;
                }
            }
            &.wp-has-submenu ul.wp-submenu {
                width: auto !important;
                padding-left: 25px;
                background: transparent;
                li a {
                    color: $color_bon_jour_approx;
                    font-size: 13px;

                    &.current,
                    &:hover,
                    &:focus {
                        color: $white;
                    }
                }
            }

            &.wp-has-submenu:not(.wp-menu-open):hover ul.wp-submenu {
                padding-left: 5px;
            }
            &.wp-not-current-submenu {
                ul.wp-submenu {
                    left: 155px;
                    margin-top: 1px;
                    
                    @media (min-width: 960px) {
                        left: 200px;
                    }

                    li {
                        padding: 0 5px 0 10px;
                    }

                    a:hover, a:focus {
                        cursor: pointer;
                    }
                }
            }
            &:hover a,
            &:focus a {
                color: $white;
                background: transparent;
                .wp-menu-image:before {
                    color: $boost_green;
                }
            }
            &.menu-top:hover,
            &.opensub > a.menu-top,
            > a.menu-top:focus {
                background-color: transparent !important;
            }
        }
        > li {
            opacity: 0.3;
            > a {
                padding: 0 2px !important;
                font-weight: bold;
                font-size: 0.95em;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
            &.current {
                opacity: 1;
                .wp-menu-image:before {
                    transition: all 0s;
                    color: $boost_green;
                }
            }
            &.wp-has-current-submenu {
                opacity: 1;
                .wp-menu-image:before {
                    transition: all 0s;
                    color: $boost_green;
                }
            }
            &:hover {
                opacity: 1;
                .wp-menu-image:before {
                    transition: all 0s;
                    color: $boost_green;
                }
            }
            &:focus {
                opacity: 1;
                .wp-menu-image:before {
                    transition: all 0s;
                    color: $boost_green;
                }
            }
        }
    }
}
#collapse-menu {
    span,
    #collapse-button div:after {
        opacity: 0.3;
        color: $color_bon_jour_approx;
    }
    &:hover {
        span,
        #collapse-button div:after {
            opacity: 1;
            color: $boost_green;
        }
    }
    
}
.button-primary {
    background-color: $boost_green !important;
    &:hover {
        background-color: $color_new_york_pink_approx !important;
    }
}
button {
    &.button-primary,
    &.blue {
        background-color: $boost_green !important;
        &:hover {
            background-color: $color_new_york_pink_approx !important;
        }
    }
    &:active,
    &:focus {
        outline: none !important;
    }
}
.button {
    &.button-primary,
    &.blue {
        background-color: $boost_green !important;
        &:hover {
            background-color: $color_new_york_pink_approx !important;
        }
    }
    &:active,
    &:focus {
        outline: none !important;
    }
}
.acf-button {
    &.button-primary,
    &.blue {
        background-color: $boost_green !important;
        &:hover {
            background-color: $color_new_york_pink_approx !important;
        }
    }
    &:active,
    &:focus {
        outline: none !important;
    }
}
.wp-core-ui {
    .button-primary {
        &.disabled,
        &:disabled {
            color: $concrete !important;
            background-color: $boost_green !important;
        }
    }
    .button-primary-disabled,
    .button-primary[disabled] {
        color: $concrete !important;
        background-color: $boost_green !important;
    }
}
.updated,
.error,
.settings-error {
    background-color: $white !important;
}
.update-plugins {
    width: auto;
    height: auto;
    vertical-align: text-bottom !important;
    margin: 1px 0 0 2px !important;
    color: $adtrak_charcoal !important;
    border-radius: 5px !important;
    background-color: $boost_green !important;
    span {
        letter-spacing: normal;
        color: $adtrak_charcoal !important;
    }
}
.adtrak-wrap {
    .adtrak-box {
        background-color: $white;
        .adtrak-box-header {
            border-bottom: thin solid $concrete;
        }
        .adtrak-box-body .adtrak-box-inside {
            background-color: $concrete;
        }
    }
    input[type="radio"]:checked + label {
        background-color: $concrete;
    }
    #adtrak-custom-login > div {
        border: none;
        background-color: $concrete;
    }
}
input[type=radio] {
    &:focus {
        border-color: $boost_green !important;
    }
    &:checked:before {
        background-color: $boost_green;
    }
}
.wp-editor-tabs {
    .switch-tmce {
        &:hover,
        &:active,
        &:focus {
            color: $white !important;
            background-color: $boost_green !important;
        }
    }
    .switch-html {
        &:hover,
        &:active,
        &:focus {
            color: $white !important;
            background-color: $boost_green !important;
        }
    }
}
@media only screen and(max-width: 960px) {
    #wpfooter {
        padding-left: 20px;
    }
    #wpadminbar {
        left: 0 !important;
        width: 100% !important;
        padding-left: 0;
    }
    #adminmenuwrap ul#adminmenu {
        padding: 10px 0px;

        li.wp-menu-separator {
            height: 0 !important;
        }
    }
}
@media only screen and(max-width: 782px) {
    #adminmenuwrap ul#adminmenu {
        padding: 10px;
    }

    #wpadminbar {
        padding-right: 0;
        #wp-admin-bar-menu-toggle a {
            border: none !important;
        }
        div.quicklinks ul {
            &#wp-admin-bar-root-default li a {
                &:before,
                span.ab-icon {
                    font: 400 32px/1 dashicons !important;
                }
            }
            &#wp-admin-bar-top-secondary li a {
                &:before,
                span.ab-icon {
                    font: 400 32px/1 dashicons !important;
                }
            }
        }
    }
    .auto-fold #wpcontent {
        padding-right: 0;
    }
    #adminmenuwrap ul#adminmenu li.wp-not-current-submenu ul.wp-submenu {
        left: 0;
    }
    #adminmenu li.wp-not-current-submenu a.menu-top:focus + .wp-submenu {
        top: 0;
    }
    .js #adminmenu {
        .sub-open,
        li.wp-not-current-submenu.opensub .wp-submenu {
            top: 0;
        }
    }
    .no-js li.wp-has-submenu:hover .wp-submenu {
        top: 0;
    }
}

#wpbody {
    @media(min-width: 961px) {
        width: calc(100% - 110px);
        margin-left: 90px;
    }
}

#wpbody #wpbody-content {
    #screen-meta {
        box-shadow: none;
    }
    #screen-meta-links {
        margin: 0 15px 0 0;
        
        .screen-meta-toggle {
            box-shadow: none;
            background-color: $concrete;
        }
    }
    .wrap {
        background-color: $concrete;
        margin-top: 30px !important;

        .nav-tab-wrapper {
            // background-color: $white;
     
            .nav-tab {
                border: 0;
                &.nav-tab-active,
                &:hover {
                    border-bottom:1px solid $boost_green;
                }
            }
        }
    }
}

.js #adminmenu {
    .sub-open,
    li.wp-not-current-submenu.opensub .wp-submenu {
        top: -1000em;
    }
}

.no-js li.wp-has-submenu:hover .wp-submenu {
    top: -1000em;
}

body.folded {
    #adminmenu {
        .wp-has-current-submenu {
            .wp-submenu.sub-open,
            a.menu-top:focus + .wp-submenu,
            &.opensub .wp-submenu {
                top: 0;
                left: 36px;
            }
        }
        .opensub .wp-submenu,
        .wp-submenu.sub-open,
        a.menu-top:focus + .wp-submenu,
        .wp-has-submenu:hover .wp-submenu {
            top: 0;
            left: 36px;
        }
    }
    #adminmenuwrap {
       top: 50px;

       @media (min-width: 960px) {
           left: -20px;       
       }
    }
    #adminmenuwrap #adminmenu {
        padding: 0;
        li {
            &.current,
            &.wp-has-current-submenu {
                background: transparent;
                a {
                    background: transparent;
                    .wp-menu-name {
                        color: $white;
                    }
                    .wp-menu-image:before {
                        color: $boost_green;
                    }
                }
            }
            &.wp-has-submenu ul.wp-submenu {
                padding-left: 0;
                box-shadow: none;
                background: $adtrak_charcoal;
                .wp-submenu-head {
                    margin: 5px 2px;
                    font-weight: bold;
                    background-color: transparent !important;
                }
            }
            &.wp-not-current-submenu ul.wp-submenu {
                left: 34px;
                @media (min-width: 960px) {    
                    left: 55px;
                }
            }
        }
        #adminmenu li.wp-not-current-submenu a.menu-top:focus + .wp-submenu {
            top: -15px;
        }
        .js #adminmenu {
            .sub-open {
                top: -15px;
            }
            li.wp-not-current-submenu.opensub .wp-submenu {
                top: -15px;
            }
        }
        .no-js li.wp-has-submenu:hover .wp-submenu {
            top: -15px;
        }
    }
}

input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    border-color: $boost_green !important;
}

input[type="checkbox"]:before,
.view-switch a.current:before {
    color: $boost_green !important;
}

.tmce-active .wp-editor-tabs .switch-tmce,
.html-active .wp-editor-tabs .switch-html {
    color: $white !important;
    background-color: $boost_green !important;
}

.post-com-count:hover span {
    background-color: $boost_green !important;
}

#save-post,
#post-preview {
    width: 100% !important;
}

#minor-publishing-actions {

    .spinner {
        visibility: hidden;
        display: none;
    }

    #save-action,
    #preview-action {
        width: 100% !important;
    }
}

.tablenav .tablenav-pages {
    margin-top: 10px !important;
    margin-bottom: 10px;
}


// HELPERS FOR PLUGINS/CONTENT
.xdebug-var-dump {
    padding-left: 285px;
    padding-top: 20px;
}

#qm-wrapper {
    padding: 20px 45px;
}

#collapse-button .collapse-button-icon {
    left: 2px;
}

#wpmdb-main {
    margin-top: 30px;
}