#wp-notification {
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99;
    display: none;
}

#wp-notification.open {
    display: block;
}

#wp-notification .wp-notification-container {
    margin: 0 auto;
    color: #fff;
    max-width: 1280px;
    text-align: center;
    padding: 10px 0;
}

#wp-notification .wp-notification-container p {
    text-transform: uppercase;
    margin: 0;
}

#wp-notification .wp-notification-container p a {
    background-color: #fff;
    color: #222;
    text-decoration: none;
    padding: 3px 5px;
    font-weight: bold;
    margin-left: 5px;
}

#wp-notification .wp-notification-container p a:hover {
    background-color: #efefef;
}

#wp-notification-toggle {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

#wp-notification-toggle p {
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
}

#wp-notification-toggle p:hover {
    color: #dcdcdc;
    cursor: pointer;
}
